body {
    background-color: lightyellow;
  }

.board_picture{
    position: relative;
}
.red_pawn{
    background-color: transparent;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 435px;
    left: 100px;

}
